#sidebarcontainer{
    height: 100%;
    width: 250px; /* Set the width of your sidebar */
    position: fixed;
    top: 0;
    left: 0;
    /*background-color: rgb(52, 71, 103) ;
    background-image: linear-gradient(to bottom,rgb(24, 49, 93) 30%,rgb(26, 67, 139) 40%, rgb(10, 27, 59) );
    */
    background: transparent;
    padding-top: 20px;
    display:flex;
    flex-direction: column;
    align-items: center;
    
 

    overflow-y: auto; /* Add a scrollbar for vertical overflow */
}

#toplogo{
    color:white;
    font-family: "Plus Jakarta Display", Helvetica, Arial, sans-serif;
    font-size: 0.875rem;
    line-height: 1.5;
    letter-spacing: 2px;
    text-transform: none;
    vertical-align: unset;
    
    font-weight: 500;

    align-items: center;
    display:flex;
    justify-content: space-between;
    width:70%;

    margin-bottom: 10px;
    padding:20px;


    border-bottom-width: 1rem;
    border-bottom:2px solid white;
    border-bottom-color: linear-gradient(to right, rgba(0, 117, 255, 0) 20%, rgb(255, 255, 255) 60%, rgba(255, 255, 255, 0) 20%);
}
.sidebariconcontainer{
 background-color: rgb(26, 31, 55);
 box-shadow:rgba(0, 0, 0, 0.05) 0rem 1.25rem 1.6875rem 0rem;
 min-width: 2rem;
    min-height: 2rem;
    border-radius: 0.75rem;
    display: grid;
    place-items: center;

    margin-right:8px;
}
#accountpages{
    margin: 16px 0px 8px 8px;
    font-family: "Plus Jakarta Display", Helvetica, Arial, sans-serif;
    font-size: 0.75rem;
    line-height: 1.25;
    display: block;
    color: rgb(255, 255, 255);
    font-weight: 700;

}
.tiles{
    color:white;
    align-items: center;
    display:flex;
   
    width:70%;

    padding: 0.675rem 0.8rem 0.675rem 1rem; 
}
#dashboardtile{
    color:white;
    align-items: center;
    display:flex;
   
    width:70%;

    padding: 0.675rem 0.8rem 0.675rem 1rem;
}

#tablestile{
    color:white;
    align-items: center;
    display:flex;
   
    width:70%;
}

#billingtile{
    color:white;
    align-items: center;
    display:flex;
   
    width:70%;
}

#RTLtile{
    color:white;
    align-items: center;
    display:flex;
   
    width:70%;
}

#profiletile{
    color:white;
    align-items: center;
    display:flex;
   
    width:70%;
}

#signintile{
    color:white;
    align-items: center;
    display:flex;
   
    width:70%;
}

#signuptile{
    color:white;
    align-items: center;
    display:flex;
   
    width:70%;
}

#sidebaricon{
    width:15px;
    height:15px;
    color:rgb(0, 117, 255);

}

#helpdoc{
    background-image:url('https://demos.creative-tim.com/vision-ui-dashboard-react/static/media/sidenav-card-background.00019e46.png') ;
    background-color: white;
    background-size: cover;
    height:140px;
    width:70%;
    padding:16px;
    display:grid;
    place-items: center;

    border-radius: 0.75rem;
    color:white;
    font-family:'Times New Roman', Times, serif;
    
    margin-top:10px;

}

#upgradebutton{
    color:white;
    background-color: rgb(8, 134, 244);
    width:80%;
    place-items: center;


    padding:10px;
    border-radius:0.75rem;
    text-align: center;
    top:110px;
    
    position: relative;
    display: flex;
    justify-content: center;
    vertical-align: middle;
    
  

    height:20px;
    
  
}